<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>ddmo</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
    *{font-family: Arial;}
    table {border-collapse: collapse;width: 100%;}
    th, td {text-align: left;padding: 8px;}
</style>
 </head>

  <body>
  <script>
      (function(d, s, id){
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) {return;}
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/messenger.Extensions.js";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'Messenger'));

    const APP_ID = 544769076153407;
    var senderID = "";

    window.extAsyncInit = function() {
        MessengerExtensions.getContext(APP_ID,
          function success(thread_context){
           senderID = thread_context.psid;
          },
          function error(err){
            console.log(err);
          }
        );
    };
  </script>

  <div style="overflow-x:auto;">
    <table>
      <% for(var i=0; i < data.length; i++) { %>
      <tr>
        <th>Shop Name =</th>
        <th><%= data[i].shopname %></th>
      </tr>
      <tr>
        <td>Category =</td>
        <td><%= data[i].category %></td>
      </tr>
      <tr>
        <td>Shop Address =</td>
        <td><%= data[i].shopaddress %></td>
      </tr>
      <tr>
        <td>Promotion Information =</td>
        <td><%= data[i].about %></td>
      </tr>
      <tr>
        <td></td>
        <td><img src="<%= data[i].image %>" style="width: 200px; height: auto;"></td>
      </tr>
      <% } %>
    </table>
  </div>

  <script>

    function  windowClose() {
        MessengerExtensions.requestCloseBrowser(function success() {
          console.log("success");
          send();
        }, function error(err) {
          console.log(err);
        });
      }



    function myFunction () {

    const doc_id = this.getAttribute('data-id')

    let xhr;
      if (window.XMLHttpRequest) {
      xhr = new XMLHttpRequest();
    } else {
      xhr = new ActiveXObject("Microsoft.XMLHTTP");
    }

    const data = {
      "sender_id":senderID,
      "doc_id": doc_id
    }

    const url = "https://promotionchatbot.herokuapp.com/imagepick/";

    xhr.open("POST", url , true);
    xhr.setRequestHeader('Content-Type', 'application/json');
    xhr.send(JSON.stringify(data));

    windowClose();

    }

    let oPick = document.getElementsByClassName("pick");

    for(let i=0;i < oPick.length;i++){
     oPick[i].addEventListener("click", myFunction);
    }




  </script>

  </body>

</html>
